<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Debug Toolbar</lang>
	</name>
	<author>
		<lang name="default">Веб студия stfalcon.com</lang>
	</author>
	<homepage>http://stfalcon.com</homepage>
	<version>0.2.0</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins></plugins>
	</requires>
	<description>
		<lang name="default">Shows the advanced debug information of the LiveStreet</lang>
		<lang name="russian">Показывает расширенную отладочную информацио о работе Livestreet</lang>
		<lang name="ukrainian">Відображає розширену інформацію про роботу Livestreet</lang>
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>